<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZAD</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="js/main.js"></script>
</head>

<body>
    <div class="header">
        <div class="logo"><img src="img/" alt=""></div>
        <div class="ul-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Home</a></li>
        </div>
        <div class="language-switcher">
            <select onchange="changeLanguage(this.value)">
                <option value="en">English</option>
                <option value="ar">العربية</option>
            </select>
        </div>
        <form class="search">
            <input type="text">
            <button type="submit">Search</button>
        </form>
    </div>
</body>

</html>